@page
@using frontend.Models;
@using frontend.Controllers
@model frontend.Pages.Ogloszenie.DetailsOgloszenieModel
@{
    Request.Cookies.TryGetValue("UserRole", out string rola);
    ViewData["Title"] = "Szczegóły ogłoszenia";
    if (Request.Cookies.TryGetValue("UserId", out string id))
    {
        if (rola == "Wolontariusz")
        {
            Layout = "_Layout_wolontariusz";
        }
        else if (rola == "Pracownik")
        {
            Layout = "_Layout_pracownik";
        }
        else if (rola == "Opiekun")
        {
            Layout = "_Layout_opiekun";
        }
    }
    else
    {
        RedirectToPage("./Index");
    }
}


<h1>Szczegóły ogłoszenia pomocy potrzebującemu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa ogłoszenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(Model => Model.Ogloszenie.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            Opis ogłoszenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(Model => Model.Ogloszenie.Opis)
        </dd>
        <dt class = "col-sm-2">
            Data ogłoszenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(Model => Model.Ogloszenie.Data)
        </dd>
        @if(rola == "Pracownik" || rola == "Opiekun")
        {
            <dt class="col-sm-2">
                Przypisany wolontariusz
            </dt>
            <dd class="col-sm-10">
                @{
                    if (int.TryParse(id, out int userIdInt) && userIdInt != Model.Ogloszenie.WolontariuszId)
                    {
                        UzytkownikInfo uzytkownik = Model.Uzytkownicy.FirstOrDefault(l => l.Id == Model.Ogloszenie.WolontariuszId);
                        ViewData["wolontariusz"] = @uzytkownik.Login
                        ;
                    }
                    else
                    {
                        ViewData["wolontariusz"] = "Nie przypisano wolontairusza";
                    }
                }
                @ViewData["wolontariusz"]
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Osoba potrzebująca pomocy
            </dt>
            <dd class="col-sm-10">
                @{
                    if (int.TryParse(id, out int userIdInt))
                    {
                        UzytkownikInfo uzytkownik = Model.Uzytkownicy.FirstOrDefault(l => l.Id == Model.Ogloszenie.OrganizatorId);
                        @uzytkownik.Login
                        ;
                    }
                }
            </dd>
        }
        <dt class = "col-sm-2">
            Nazwa lokalizacji świadczenia usługi
        </dt>
        <dd class = "col-sm-10">
            @{
                LokalizacjaInfo lokalizacja = Model.Lokalizacja.FirstOrDefault(l => l.Id == Model.Ogloszenie.LokalizacjaId);
                @lokalizacja.Nazwa
                ;
            }
        </dd>
        @if(Model.Zgloszenie.Ocena != 0)
        {
            <dt class="col-sm-2">
                Ocena udzielonej pomocy przez wolontariusza
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(Model => Model.Zgloszenie.Ocena)
            </dd>
        }
    </dl>
    <button onclick="goBack()" class="btn btn-primary">Powrót</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>